:root {
    --blue: #1e90ff;
    --blue-200: #4C5F71;
    --blue-150: #8B95A7;
    --green-800: #008000;
    --blue-100: #B0B9C0;
    --white: #ffffff;
    --red-400: #FDE9E9;
    --red-800: #F44848;
    --red-100: #FDE6E6;
    --grey-100: #F7F8F9;
    --grey-400: #A7A9AB;
    --white-800:rgba(227, 229, 233, 255);
    --blue-800:rgba(142, 191, 255, 255)
}

.add-role-container,
.edit-role-container {
    width: 100%;
    top: 10%;
    height: 88%;
    display: none;
    overflow: auto;
    position: absolute;
    background: white;
    z-index: 3;
}

.role-form-heading {
    font-size: 1rem;
}

.add-role,
.edit-role {
    margin-top: 0.4rem;
    padding-left: 2px;
    font-size: 0.6rem;
}

.add-role input,
.add-role textarea,
.edit-role input,
.edit-role textarea {
    outline: 0;
    border: 2px solid rgba(227, 229, 233, 255);
    border-radius: 2px;
    padding-left: 0.25rem;
}

.add-role label,
.edit-role label {
    font-weight: 500;
    font-size: 0.7rem;
}

.add-role select,
.edit-role select {
    border: 0;
    background-color: var(--white-800);
}

.form-main-fields {
    width: 50%;
}

.role-name-dept,
.role-desc,
.role-location,
.role-assign-employee,
.all-employees {
    margin-top: 0.5rem;
}

.role-name-container,
.role-dept {
    width: 45%;
}

#role-name,
#role-dept,
#edit-role-name,
#edit-role-dept {
    width: 100%;
}

#role-desc,
#edit-role-desc {
    width: 100%;
    height: 120px;
    margin-top: 0.5rem;
}

.add-role input,
.add-role select,
.edit-role input,
.edit-role select {
    margin-top: 0.25rem;
    height: 1.5rem;
}

.add-role input:focus,
.edit-role input:focus {
    border-color: var(--blue);
}

.add-role select:focus,
.edit-role select:focus {
    border: 2px solid var(--blue);
}

.role-location,
.role-assign-employee {
    width: 60%;
    position: relative;
}

#role-location,
#edit-role-location,
#assign-employees,
#edit-assign-employees,
.all-employees {
    width: 100%;
}

#assign-employees::placeholder::after,
.edit-assign-employees::placeholder::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 1rem;
    width: 1rem;
}

.role-assign-employee {
    height: 30%;
}

.all-employees {
    position: absolute;
    display: none;
    width: 100%;
    height: 170px;
    overflow: scroll;
}

.employee-name-img {
    height: 50px;
    padding: 0.5rem 0.75rem;
    border: 1px solid rgb(189, 189, 194);
    margin-bottom: 0.25rem;
    border-radius: 5px;
    font-size: 0.8rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.assignable-employee {
    gap: 0.5rem;
    width: 100%;
    height: 100%;
}

.assignable-employee input {
    accent-color: rgb(221, 61, 61);
}

.assign-emp-detail {
    height: 100%;
    width: 80%;
    align-items: center;
}

.assign-emp-detail img {
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
}

.assign-emp-detail span {
    font-size: 0.7rem;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
}

.add-cancel-btns {
    justify-content: flex-end;
    gap: 2%;
    margin-right: 1rem;
    margin-top: 3rem;
}

.cancel-add-role,
.cancel-edit-role {
    background-color: var(--red-400);
    color: var(--red-800);
    border: 0;
    text-align: center;
    padding: 0.25rem 1.5rem;
    white-space: nowrap;
    cursor: pointer;
}

.submit-add-role,
.submit-edit-role {
    white-space: nowrap;
    cursor: pointer;
}

@media screen and (max-width:1080px) {
    .form-main-fields {
        width: 70%;
    }
}

@media screen and (max-width:720px) {
    .role-name-dept {
        gap: 3%;
    }

    .role-name-container {
        width: 48%;
    }

    .add-role input,
    .add-role select {
        font-size: 0.9rem;
    }
}

@media screen and (max-width:500px) {

    .add-role input,
    .add-role select {
        font-size: 0.7rem;
    }

    .role-location,
    .role-assign-employee {
        width: 70%;
    }
}

@media screen and (max-width:450px) {
    .add-role label {
        font-size: 1rem;
    }

    .add-role input,
    .add-role select {
        font-size: 1.2rem;
        height: 2.5rem;
    }

    .employee-name-img {
        height: 30px;
    }

    .assign-emp-detail span {
        font-size: 1rem;
    }

    .cancel-add-role,
    .submit-add-role {
        font-size: 1.5rem;
    }
}

@media screen and (max-width:370px) {
    .form-main-fields {
        width: 80%;
    }

    .role-location,
    .role-assign-employee {
        width: 80%;
    }

    .add-cancel-btns {
        flex-direction: column;
        gap: 1rem;
    }

    .add-cancel-btns button {
        width: 25%;
        align-self: flex-end;
    }
}




/* @media screen and (min-width:1080px){
    .form-main-fields {
        width: 70%;
    }
}
@media screen and (min-width:720px){
    .form-main-fields {
        width: 70%;
    }
    .role-name-dept{
        gap:3%;
       }
       .role-name-container{
        width: 78%;
       }
}
@media screen and (min-width:500px){
    .form-main-fields {
        width: 70%;
    }
    .add-role input, .add-role select{
        font-size: 0.7rem;
    }
} */